<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INCIO DE SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #juanito="ngForm" (ngSubmit)="login(juanito)">
    <ion-item>
      <ion-input name="email" [(ngModel)]="email" label="Correo electrónico" labelPlacement="floating" placeholder="example.@gmail.com" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name ="password" [(ngModel)]="password" label="Contraseña" labelPlacement="floating" type = "password" placeholder="Enter text" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Iniciar</ion-button>
  </form>
</ion-content>
